@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Comforter+Brush&family=Raleway:wght@300;400;700&family=Roboto:ital@1&display=swap');

:root{
    
    --color-primary: #ffff00;
    --color-secondary: black;
    --boton-padding: 20px 40px;
}

body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(rgba(5,7,12,0.7),rgba(5,7,12,0.7)), url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

h1 {
      width: 100%;
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
  }

  .btn{
    width: 100%;
    margin-bottom: 35px;
    margin-top: 35px;
    margin-left: 40%;
    margin-right: 40%;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
    background: yellow;
    padding: var(--boton-padding);
    color: var(black);
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .info {
    position: relative;
    display: inline;
    background-color: rgb(50, 133, 139);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
  }

  .subtitle {
    width: 100%;
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
  }

  .text {
    margin-left: 10%;
    margin-right: 10%;
  }

  img{
    display: block;
    margin: 0px auto;
   }
